absl-py==2.1.0
annotated-types==0.7.0
asgiref==3.8.1
attrs==24.2.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
crispy-bootstrap4==2024.1
cycler==0.12.1
distlib==0.3.8
Django==5.0.7
django-bootstrap5==24.2
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-environ==0.11.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
google-ai-generativelanguage==0.6.10
google-api-core==2.19.1
google-api-python-client==2.142.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.63.2
grpcio==1.67.0
grpcio-status==1.67.0
gunicorn
httplib2==0.22.0
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.1.post1
ml-dtypes==0.4.0
numpy==2.0.1
opencv-contrib-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
proto-plus==1.24.0
protobuf==5.28.3
psycopg2==2.9.10
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
scipy==1.14.0
six==1.16.0
sounddevice==0.4.7
SpeechRecognition==3.11.0
sqlparse==0.5.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
virtualenv==20.26.3
